
.active {
  background-color: white;
}

#titlenav {
  padding: 14px 16px;
  display: absolute;
    color: white;
    font-family: 'Lucida Sans';
}

html
 { scroll-behavior: smooth; } 


/* navigation bar */
.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-color: rgb(104, 99, 93);
    position: fixed;
    width: 100%;
    left: 0;
    top:0;
    z-index: 1100;  
  }

  li {
    float: left;
    font-family: 'Trebuchet MS';
  }
  
  .Nav ul li a {
    display: block;
    color: white;
    padding: 14px 10px;
    text-decoration: none;
  }
  
  .Nav ul li a:hover {
    background-color:rgb(206, 191, 151);
    color:rgb(68, 68, 68);
    transition: .5s;
  }

  /*dropdown*/
  .column {
    float: left;
    width: 32.21%;
    border-right: solid 1.5px #000000;
    padding: 10px;
   margin-top:-20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .drop {
    font-size: 16px;
    border: none;
    outline: none;
    background-color:rgb(104, 99, 93);
    color:#fff;
    padding: 14px 16px;
    font-family: 'Trebuchet MS';
    margin: 0; 
  }
  
  .nav a:hover, .drop .dropdown{
    background-color: rgb(104, 99, 93);
  }
  
  .dropdown-options {
    display: none;
    position:fixed;
    background-color: rgb(104, 99, 93);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-options a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-options a:hover {
    background-color: rgb(206, 191, 151);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-options {
    display: block;
  }
  

/*homepage*/
.image-container{
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    justify-content: center;
    align-items: center;
    opacity: 1;
    }


.text {
  position: absolute;
top: 60%;
left: 49%;
transform: translate(-50%, -50%);
color: white;
text-align: left;
font-family: 'Lucida Sans';
text-shadow: 1px 2px rgba(49, 49, 49, 0.726);
  font-size: 30px;
  background-color: rgba(36, 36, 36, 0.404);
  padding: 50px;
  margin-right: -500px;
  text-align: justify;
}

.start {
  width: 50%;
  height: 50%;
  color: black;
  position: absolute;
  left: 43%;
 bottom: -350px;
 font-size: 34px;
 }

.title1 {
  position: absolute;
  top: 240px;
  left: 25%;
text-align: left;
color: #ffffff;
font-family:'Times New Roman';
  font-size: 70px;
  letter-spacing: -2px;
  font-weight: bold;
  text-decoration: overline underline;
  text-shadow: #000000 7px 7px 3px;
}

.title2 {
  position: absolute;
left: 40%;
top: 469px;
color: rgb(255, 254, 254);
text-align: left;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: -2px;
font-style: italic;
text-shadow: #000000 2px 4px 3px;
}
.references {
  background-color: #E8E5E0;
  padding: 30px;
  text-align: left;
  margin-left: -10px;
  margin-right: -10px;
  height: 100%;
  font-family: 'lucida sans';
  line-height: 25px;
}

body {
  margin: 0;
  padding: 0;
  }

  /*categories*/

  .wrap {
    display: flex;
}

.wrap .col {    
  z-index: 1;
    min-height: 100px;
    background-image: url(NOVEL.jpeg);
    height: 900px;
    width: 50%;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
    text-decoration-color: #fff;
    color:#fff;
    font-size: 50px;
}

.wrap .col h2 {
   text-shadow: #000000 7px 7px 3px;
}

.wrap .col p {
  font-size: 28px;
  text-decoration: overline underline;
  text-decoration-color: #000000;
  text-decoration-thickness: 4px;
  text-shadow: #000000 2px 4px 3px;
}

div.wrap > div:nth-of-type(1) {
    background-image: url(POEM.jpeg);
}

div.wrap > div:hover {
    width: 100%;    
}


/*members*/
.member {
  position: relative;
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans';
    font-size: 20px;
    width: 100%;
  height: 929px;
  margin: auto;
    text-align: center;
    background-image: url(memberbg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}




/* link */
a {
color: white;
} 